<!DOCTYPE html>
<html lang="pl">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <title>Discordzik | Polityka Cookies</title>
  <link rel="icon" href="/assets/img/favicon.png" type="image/x-icon">
  <link rel="shortcut icon" href="/assets/img/favicon.png" type="image/x-icon">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="google-adsense-account" content="ca-pub-9136474966764887">
  <meta name="title" content="Discordzik | Lista Polskich Serwerów i Botów Discord">
  <meta name="description" content="Discordzik to najlepsze źródło polskich serwerów i botów Discord! Odkryj grupy tematyczne, gamingowe i edukacyjne, znajdź nowych znajomych i dołącz do społeczności pełnej pasjonatów z całej Polski.">
  <meta name="theme-color" content="#5024f3">
  <meta name="og:site_name" content="Discordzik.pl">
  <meta property="og:type" content="website">
  <meta property="og:url" content="<%= config.website.url %>">
  <meta property="og:title" content="Discordzik | Lista Polskich Serwerów i Botów Discord">
  <meta property="og:description" content="Discordzik to najlepsze źródło polskich serwerów i botów Discord! Odkryj grupy tematyczne, gamingowe i edukacyjne, znajdź nowych znajomych i dołącz do społeczności pełnej pasjonatów z całej Polski.">
  <meta property="og:image" content="/assets/img/banner.png">
  <meta property="og:image:secure_url" content="/assets/img/banner.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:type" content="image/png">

  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="<%= config.website.url %>">
  <meta property="twitter:title" content="Discordzik | Lista Polskich Serwerów i Botów Discord">
  <meta property="twitter:description" content="Discordzik to najlepsze źródło polskich serwerów i botów Discord! Odkryj grupy tematyczne, gamingowe i edukacyjne, znajdź nowych znajomych i dołącz do społeczności pełnej pasjonatów z całej Polski.">
  <meta property="twitter:image" content="/assets/img/banner.png">
  <meta property="twitter:image:width" content="1200">
  <meta property="twitter:image:height" content="360">
  <meta property="summary_large_image" content="/assets/img/banner.png">
</head>

<%- include('../partials/head') %>

<body>
  <%- include('../partials/spinner') %>
  <main class="page-wrapper">
    <%- include('../partials/header') %>

<section class="container mb-5 pb-2 pb-md-4 pb-lg-5 py-5">
  <div class="card border-0 bg-secondary p-md-5 px-sm-2 pt-4 pb-3">
    <div class="card-body">
      <h2 class="h1 mb-4 text-center">Polityka Cookies</h2>

      <h2>1. Wprowadzenie</h2>
      <p>Witamy na Discordzik.pl. Niniejsza Polityka Cookies wyjaśnia, jak korzystamy z plików cookies na naszej stronie internetowej. Korzystając z naszej strony, wyrażasz zgodę na używanie plików cookies zgodnie z tą polityką.</p>

      <h2>2. Czym są cookies?</h2>
      <p>Cookies to małe pliki tekstowe, które są przechowywane na Twoim urządzeniu podczas odwiedzania naszej strony internetowej. Pliki te zawierają różne informacje o Twojej aktywności na stronie, takie jak preferencje, ustawienia, czy sesje użytkownika. Cookies pomagają poprawić funkcjonowanie strony i zapewniają lepsze doświadczenia użytkownika.</p>

      <h2>3. Rodzaje używanych cookies</h2>
      <p>Na naszej stronie używamy następujących typów cookies:</p>
      <ul>
          <li><strong>Cookies sesyjne</strong> – pliki tymczasowe, które są przechowywane na Twoim urządzeniu tylko do momentu zakończenia sesji przeglądarki. Są używane do utrzymywania Twojego zalogowania oraz zapewnienia prawidłowego działania funkcji strony.</li>
          <li><strong>Cookies stałe</strong> – pliki przechowywane na Twoim urządzeniu przez określony czas lub do momentu ich usunięcia przez Ciebie. Używamy ich do zapamiętywania preferencji użytkownika, analizowania sposobu korzystania z naszej strony oraz do celów statystycznych.</li>
          <li><strong>Cookies analityczne</strong> – pomagają nam zbierać anonimowe dane o Twojej aktywności na stronie, takie jak liczba odwiedzin, czas spędzony na stronie, czy kliknięcia. Dzięki tym informacjom możemy ulepszać naszą stronę i dostosować ją do potrzeb użytkowników.</li>
      </ul>

      <h2>4. Wykorzystanie cookies</h2>
      <p>Cookies są wykorzystywane w celu:</p>
      <ul>
          <li>Utrzymywania sesji użytkownika, co pozwala na łatwe logowanie i nawigację po stronie.</li>
          <li>Analizowania i poprawy działania strony, aby zapewnić lepsze doświadczenia użytkowników.</li>
          <li>Zapamiętywania Twoich preferencji, aby nasza strona była bardziej dopasowana do Twoich potrzeb.</li>
          <li>Zapewnienia bezpieczeństwa podczas korzystania z naszej strony.</li>
      </ul>

      <h2>5. Zarządzanie cookies</h2>
      <p>Masz prawo do zarządzania plikami cookies w swojej przeglądarce internetowej. Możesz zmienić ustawienia swojej przeglądarki, aby blokować lub usuwać pliki cookies. W zależności od przeglądarki, proces ten może się różnić, ale zazwyczaj dostępny jest w ustawieniach prywatności. Pamiętaj jednak, że wyłączenie cookies może wpłynąć na funkcjonalność strony i uniemożliwić korzystanie z niektórych jej funkcji.</p>

      <h2>6. Cookies osób trzecich</h2>
      <p>Na naszej stronie mogą być również używane pliki cookies osób trzecich, takie jak Google Analytics, do analizy ruchu na stronie i poprawy jakości usług. Nie mamy kontroli nad tymi plikami cookies, więc zachęcamy do zapoznania się z politykami prywatności i cookies dostawców tych usług.</p>

      <h2>7. Zmiany w Polityce Cookies</h2>
      <p>Regularnie przeglądamy naszą Politykę Cookies i wprowadzamy zmiany, które mogą wynikać z rozwoju naszej strony, nowych funkcji lub zmian w przepisach prawnych. Zaktualizowana Polityka Cookies będzie dostępna na tej stronie.</p>

      <h2>8. Kontakt</h2>
      <p>Jeśli masz jakiekolwiek pytania dotyczące naszej Polityki Cookies, skontaktuj się z nami za pomocą poniższych danych kontaktowych:</p>
      <ul>
          <li><a href="https://discordzik.pl/discord">Link do serwera Pomocy Discord</a></li>
          <li><a href="mailto:kontakt@discordzik.pl">Email</a></li>
      </ul>

      <h2>9. Akceptacja Polityki Cookies</h2>
      <p>Korzystając z naszej strony, zgadzasz się na używanie plików cookies zgodnie z tą Polityką Cookies. Jeśli nie zgadzasz się z którymkolwiek postanowieniem, prosimy o zaprzestanie korzystania z naszej strony.</p>

            <h4>Jeśli potrzebujesz pomocy, możesz zwrócić się do supportu</h4>
            <div class="cards">
              <!-- shwo first the one with the top role, then the second one, and so on -->
              <% bot.guilds.cache.get(config.server.id).members.cache.filter(member => member.roles.cache.has("1270318173442412566")).sort((a, b)=> b.roles.highest.position-a.roles.highest.position).map(member => { %>
              <div class="accordion">
                <a href="/profile/<%= member.id %>" style="text-decoration: none; color: inherit">
                  <div class="accordion-item border-0 rounded-3 shadow-sm mb-3" style="padding: 10px;">
                    <figcaption class="card-footer d-flex align-items-center border-0" style="padding: 3px;">
                      <img src="https://cdn.discordapp.com/avatars/<%= member.id %>/<%= member.user.avatar %>.png" width="60" class="rounded-circle" alt="Reaction Roles">
                      <div class="ps-3">
                        <h6 class="fw-semibold lh-base mb-0">
                          <%=member.user.username%>
                          <span class="badge bg-faded-warning text-warning mx-1"><%= bot.guilds.cache.get(config.server.id).roles.cache.get(member.roles.highest.id).name %></span>
                        </h6>
                        <span class="fs-sm text-muted">Zobacz Profil</span>
                      </div>
                    </figcaption>
                  </div>
                </a>
              </div>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>
  <%- include('../partials/footer') %>
</body>

</html>